@charset "utf-8";

/* 마진 공통 */
.mb0{ margin-bottom: 0 !important; }

/* 자간 공통 */
a, span, p{ letter-spacing: -0.02em; }

/* 글자색 공통 */
.f_blue{ color: #02a3e9;}
.f_red{ color: #ea3d2f;}

/* 정렬 공통 */
.align_l{ text-align: left!important; }

/* 페이지위치 */
.subpage{ margin-top: 4.17rem; }
@media (max-width: 768px) {
    .subpage{ margin-top: 3.1rem; }
}

/*페이지위치*/
.location{ border: 1px solid #e5e5e5; border-left: none; border-right: none; width: 100%; position: fixed; top: 4.17rem; left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); z-index: 10; background-color: #fff; }
.location > ul > li{ font-size: 14px; display: inline-block; border-left: 1px solid #e5e5e5; vertical-align: top; color: #999999; background-color: #fff; }
.location > ul > li:last-child{ border-right: 1px solid #e5e5e5; }
.location > ul > li:hover{  }
.location > ul > li > ul{ border: 3px solid #0073ba; font-size: 14px; padding: 0.7rem 0; }

.location ul li{ height: 38px; line-height: 38px; color: #fff; font-size: 14px; text-align: center; }
.location ul li a{ color: #fff; display: block; }
.location > ul > li > ul > li{ line-height: 1rem; height: 1rem; }
.location > ul > li > ul > li a{ color: #666; }
.location > ul > li > ul > li:hover{ background-color: #efefef; }
.location > ul > li > ul > li:hover a{ color: #0073ba;}
.dep01{width: 43px; border-left: 1px solid #e5e5e5; }
.dep01 a{ display: block;text-indent: -55555px; background: url('../images/home.png') no-repeat center center; background-size: 16px auto; }
.dep02{ width: 180px; position: relative; }
.dep03{ width: 180px; position: relative; border-right: 1px solid #e5e5e5 !important; }
.dep02 > a{ text-align: center; color: #999999!important; font-weight: 700; }
.dep03 > a{ border-right: 15px solid transparent;background: url('../images/loc_arr.png') no-repeat right center;background-size: 8px auto; color: #0073ba!important; font-weight: 700; }

.dep03 ul{ position: absolute;top:38px;left:0px; display: none;z-index:1000; background-color: #fff; }
.dep03 ul{ width: 100%;}

@media (max-width: 1100px) {
    .location .wrap{ padding: 0 !important; }
}

@media (max-width: 768px) {
    .location{ top: 3.1rem; }
    .dep02{width: calc((100% - 43px) / 2);}
    .dep03{width: calc((100% - 43px) / 2);}
}
@media (max-width: 559px) {
    .dep02 > a, .dep03 > a{ border-right: 5px solid transparent; }
}


/* 서브페이지 공통 */
.subCont * { letter-spacing: -0.05em; }
.subCont{ padding-top: 38px; }
.subCont .wrap{ padding: 4.67rem 1.58rem 5rem; background: url('../images/sub02_02_bg.png')no-repeat top right; background-size: 19.3rem auto; }
@media (max-width: 900px) {
    .subCont .wrap{ background-size: 15rem auto !important; }
}
@media (max-width: 600px) {
    .subCont .wrap{ padding: 4.67rem 10px 5rem !important; }
}
@media (max-width: 500px) {
    .subCont .wrap{ background-size: 12rem auto !important; }
}


/* 서브페이지 공통 */
.subCont h3{ font-size: 1.5rem; color: #333; position: relative; font-weight: 800; margin-bottom: 3.08rem; }
.subCont h3:before{ content: ''; display: block; width: 3.08rem; height: 3.08rem; background: url('../images/square.png')no-repeat; position: absolute; left: -1.33rem; top: -1.33rem; }
.subCont h4{ font-size: 1.25rem; padding-bottom: 1rem; font-weight: 800; }
@media (max-width: 600px) {
    .subCont h3{ padding-left: 1.33rem; }
    .subCont h3:before{ left: 0; }
}


/* 글자공통 */
.desc{ font-size: 16px; }


/* 글단락 */
.box{ padding-top: 6rem; }
.box p{ font-size: 16px; }


/* 리스트 공통 */
.training li:before{ content: '';display: block; width: 0.41rem; height: 102%; background-color: #0073ba; position: absolute; left: 0; top: 0%; }
.training li{ font-size: 0; letter-spacing: -4px; padding-bottom: 0.5rem; padding-left: 1rem; position: relative; }
.training li:nth-child(1):before{ height: calc(90% - 0.1rem); top:inherit; bottom: -1px; }

.training li:last-child:before{ display: none; }
.training li span{ display: inline-block; letter-spacing: 0; font-size: 16px; vertical-align: top; word-break: keep-all; line-height: 24px; }
.training .title { font-weight: 800; width: 5.75rem; position: relative; }
.training li:last-child .title:before{ content: '';display: block; width: 0.41rem; height: calc(90% - 0.1rem); background-color: #0073ba; position: absolute; left: -1rem; top: 0px; }
.training .titleDesc { width: calc(100% - 5.75rem); }

@media (max-width: 600px) {
    .training li{ padding-bottom: 0.5rem; }
    .training li span{ display: block; width: 100% !important; }
}


/* 현장실습 */
.trainingImg{ margin-top: 2.5rem; }
.trainingImg ul li{ display: inline-block; width: 50%; }
@media (max-width: 768px) {    
    .trainingImg ul li{ width: 100%; }    
}


/* 성과발표회 */
.presentation > li{ display: inline-block; width: 50%; margin-bottom: 2rem; vertical-align: top;}
.presentation > li:nth-child(odd){ padding-right: 1.67rem; }
.presentation > li:nth-child(even){ padding-left: 1.67rem; }

.presentation .training{ padding-top: 1rem; }

@media (max-width: 1400px) {
    .presentation > li:nth-child(odd){ padding-right: 0.5rem; }
    .presentation > li:nth-child(even){ padding-left: 0.5rem; }
}
@media (max-width: 768px) {
    .presentation > li{ width: 100%; padding: 0!important; }
}


/* 맞춤교육 */
.sub02_01 .wrap{ padding-right: 0; }
.sub02_01 .desc.f_left{ width: 31%; word-break: keep-all; padding-right: 0.5rem }
.sub02_01 .f_right{ width: 69%; }
.sub02_01 .desc.f_left span{ display: block; line-height: 1.5rem; }
.sub02_01 .desc.f_left span{ display: block; line-height: 1.5rem; }
@media (max-width: 768px) {
    .sub02_01 .desc.f_left{ width: 100%; }
    .sub02_01 .f_right{ width: 100%; margin-top: 2rem; }
    .sub02_01 .wrap{ padding-right: 1.58rem; }
}

.edu{ margin-bottom: 5.83rem; }
.edu:last-child{ margin-bottom: 0; }
.eduList li{ display: inline-block; width: calc((100% - 2.5rem) / 3); margin-right: 1.2rem; margin-top: 2rem; vertical-align: top; }
.eduList li:nth-child(3n){ margin-right: 0; }
.eduList li .eduImg{ border: 1px solid #ccc; }
.eduList li .eduDesc{ margin-top: 1rem; word-break: keep-all; line-height: 1rem; }

@media (max-width: 1400px) {
    .eduList li{ width: calc((100% - 1rem) / 3); margin-right: 0.5rem; }
}
@media (max-width: 768px) {
    .eduList li{ width: calc((100% - 1rem) / 2); margin-right: 0.5rem !important; }
    .eduList li:nth-child(2n){ margin-right: 0!important; }
    .eduList li .eduDesc{ font-size: 15px; }
}
@media (max-width: 440px) {
    .edu{ margin-bottom: 3rem; }
    .eduList{ text-align: center; }
    .eduList li{ width: 80%; margin-right: 0 !important; }    
}
@media (max-width: 360px) {
    .eduList li{ width: 100%; }
    
}


/* 1팀-1프로젝트 */
table{ font-size: 16px; margin-top: 1.5rem; width: 100%; border-top: 2px solid #333333;}
table th{ width: 6.25rem; min-height: 2.41rem; text-align: center; border-bottom: 1px solid #ccc; background-color: #f9f9f9; padding: 0.8rem 0.2rem; word-break: keep-all; } 
table td{ width: 6.25rem; min-height: 2.41rem; text-align: center; border-bottom: 1px solid #ccc; padding: 0.8rem 0.2rem; } 
table td.th{ font-weight: 800; }
table td.project{ font-weight: 800; min-height: 2.41rem; padding-left: 1.67rem; color: #0073ba; text-align: left; }
table td.planList{ text-align: left; padding-left: 1.67rem; line-height: 1.5rem; }
table td.planList ul li{ padding-left: 0.58rem; position: relative; word-break: keep-all; }
table td.planList ul li:before{ content: ''; display: block; width: 5px; height: 5px; border-radius: 50%; background-color: #000; position: absolute; top: 15px; left: 0; }

@media (max-width: 768px) {
    table td.project, table td.planList{ padding-left: 0.5rem; }
    table, table td.planList ul li{ font-size: 14px; }
    table th{ width: 4rem; }
    table td.planList ul li:before{ width: 3px; height: 3px; top: 12px; }
}


/* 사업소개 */
/* 공통 */
.sub01 .wrap{ padding-left: 0;  }

@media (max-width: 768px) {
    .sub01 .wrap{ padding-right: 10px; padding-left: 10px; }
}

.sub01 h3, .sub01 h4, .sub01 .desc{ padding-left: 1.58rem; }
.sub01 h3:before{ left: 0; }
.sub01 h4{ margin-bottom: 2rem; }


/* 사업소개 */
/* 대학연계중소기업인력양성사업 */
.sub01 .box01 .desc.f_left{ word-break: keep-all; padding-right: 0.5rem }
.sub01 .box01 .f_right ul{ position: relative; z-index: -1; text-align: right}
.sub01 .box01 .f_right ul li{ display: inline-block; width: 12rem; margin-right: 1.25rem; vertical-align: top; position: relative; }
.sub01 .box01 .f_right ul li:last-child{ margin-right: 0; }

.sub01 .box01 .f_right ul li .desc{ padding: 0; width: 12rem; height: 12rem; padding: 6rem 0 0; border: 0.67rem solid #ecebeb; border-radius: 50%; background-position: center 1.4rem !important; background-size: auto 3.75rem !important; text-align: center; position: relative; }
.sub01 .box01 .f_right ul li .desc:after{ content: ''; display: block; background-color: rgba(0,115,186,0.18); position: absolute;  top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); z-index: -1; width: 1.25rem;height: 0.67rem; right: -1.92rem; }
.sub01 .box01 .f_right ul li:last-child .desc:after{ display: none; }
.sub01 .box01 .f_right ul li.list01 .desc{ background: url('../images/sub01_sec01_01.png')#fff no-repeat; }
.sub01 .box01 .f_right ul li.list02 .desc{ background: url('../images/sub01_sec01_02.png')#fff no-repeat; }
.sub01 .box01 .f_right ul li.list03 .desc{ background: url('../images/sub01_sec01_03.png')#fff no-repeat; }
.sub01 .box01 .f_right ul li .desc span{ display: block; line-height: 1rem; font-weight: 700; }
.sub01 .box01 .f_right ul li .descLink{ width: 80%; height: 3rem; line-height: 1rem; background-color: #0073ba; color: #fff; margin: 1.5rem auto 0; font-weight: 800; font-size: 16px; position: relative; text-align: center; }
.sub01 .box01 .f_right ul li .descLink span{ display: block; }
.sub01 .box01 .f_right ul li .descLink > span { width: 100%; position: absolute; top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.sub01 .box01 .f_right ul li .descLink:after, 
.sub01 .box01 .f_right ul li .descLink:before{ content: ''; display: block; background-color: #0073ba; position: absolute;  left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); z-index: 10;}
.sub01 .box01 .f_right ul li .descLink:after{ width: 1px; height: 2.875rem; top: -2.875rem; }
.sub01 .box01 .f_right ul li .descLink:before{  width: 6px; height: 6px; top: -2.875rem; border-radius: 50%; }

@media (max-width: 1400px) {
    .sub01 .box01 .f_right ul li{ margin-right: 0.5rem; width: 11rem; }
    .sub01 .box01 .f_right ul li .desc{ width: 11rem; height: 11rem; padding: 5rem 0 0; background-position: center 1rem !important; background-size: auto 3rem !important; }
}
@media (max-width: 1200px) {
    .sub01 .box01 .f_left, .sub01 .box01 .f_right { width: 100%; }
    .sub01 .box01 .f_right ul { text-align: center; margin-top: 2rem; }
}
@media (max-width: 768px) {
    .sub01 .box01 .f_right ul{ width: 80%; margin: 0 auto; }
    .sub01 .box01 .f_right ul li{ display: block; margin-bottom: 1rem; position: relative; padding-right: calc(100% - 11rem); width: 100%; }
    .sub01 .box01 .f_right ul li .descLink{ position: absolute; top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); right: 0; margin-top: 0; width:  calc(100% - 13rem); }
    .sub01 .box01 .f_right ul li .descLink:after, 
    .sub01 .box01 .f_right ul li .descLink:before{ left: -3rem; -ms-transform: translateX(0%); -webkit-transform: translateX(0%); -moz-transform: translateX(0%); -o-transform: translateX(0%); transform: translateX(0%); top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
    .sub01 .box01 .f_right ul li .descLink:after{ width: 4rem; height: 1px; left: -4rem; }
    .sub01 .box01 .f_right ul li .descLink:before{ left: -4rem; }
    .sub01 .box01 .f_right ul li .desc:after{ top: inherit; -ms-transform: translateY(0%); -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -o-transform: translateY(0%); transform: translateY(0%); z-index: -1; width: 0.67rem;height: 1rem; right: inherit; left: 50%; bottom: -1.67rem; }
}
@media (max-width: 600px) {
    .sub01 .box01 .f_right ul{ width: 100%; }  
}
@media (max-width: 480px) {
    .sub01 .box01 .f_right ul li .desc{ width: 10rem; height: 10rem; border: 0.4rem solid #ecebeb; font-size: 14px; }
    .sub01 .box01 .f_right ul li .desc:after{ bottom: -1.4rem; }
    .sub01 .box01 .f_right ul li .descLink{ width: calc(100% - 10.8rem); }
    .sub01 .box01 .f_right ul li .descLink:after, 
    .sub01 .box01 .f_right ul li .descLink:before{ left: -3rem; }
    .sub01 .box01 .f_right ul li .descLink:after{ z-index: -1; }
}  


/* 사업소개 */
/* 운영 프로그램 */
.sub01 .box02 .boxWrap{ background: url('../images/sub01_sec02_bg.jpg')no-repeat center top ; background-size: cover; padding: 4.04rem 0 2.91rem; position: relative; }
.sub01 .box02 .boxTop.desc{ position: absolute; top: 1.5rem; left: 0rem; }
.sub01 .box02 .boxTop.desc span{ display: block; line-height: 1.5rem; word-break: keep-all; }

@media (max-width: 768px) {
    .sub01 .box02 .boxWrap{ background-position: 55% top; }  
    .sub01 .box02 .boxTop.desc{ position: relative; top: 0; }
}

.orgTop{ text-align: center; margin-bottom: 3.25rem; position: relative; z-index: 1}
.orgTop span{ display: inline-block; padding: 0 3.41rem; line-height: 3.83rem; color: #fff; font-weight: 800; background-color: #0073ba; }
.orgTop:after{ content: ''; display: block; width: 68.5%; height: 1px; background-color: #fff; position: absolute; bottom: -1.8rem; left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); z-index: 0; } 

.orgWrap{ width: 66%; margin: 0 auto; }

.orgDep > ul{ text-align: center; }
.orgDep > ul > li{ display: inline-block; width: calc((100% - 2rem) / 3); margin-right: 1rem; vertical-align: top; }
.orgDep > ul > li:last-child{ margin-right: 0; }
.orgDep > ul > li.list02 .orgDepList:after{ top: -4rem; height: 8rem; }

.orgDep h5{ font-weight: 800; font-size: 1rem; margin-bottom: 1.2rem; text-align: center; color: #0073ba;  }

.orgDepList{ background-color: #fbfbfb; padding: 1.5rem 0 3.83rem; position: relative; min-height: 11.83rem; z-index: 10; }
.orgDepList:after{ content: ''; display: block; width: 1px; height: 4rem; background-color: #fff; position: absolute; top: -1.5rem; left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); z-index: -1}

.orgDepList .desc{ padding-left: 0; margin-bottom: 1rem; font-weight: 700; line-height: 1rem; }
.orgDepList .desc span{ display: block; }

.orgDirect{ line-height: 1.83rem; width: 80%; margin: 0 auto; background-color: #93adcb; position: absolute; bottom: 2rem; left: 50%; margin-left: -40%; }
.orgDirect a{ display: block; color: #fff; font-weight: 700; font-size: 16px; border-right: 0.75rem solid transparent; background: url('../images/orgDirect.png')no-repeat right center; background-size: 0.83rem auto; }

@media (max-width: 1200px) {
    .orgWrap{ width: 80%;float: right; }
}
@media (max-width: 1100px) {    
    .orgDep h5{ font-size: 0.9rem; }
    .orgDepList ul li span{ display: block; }
}
@media (max-width: 768px) {    
    .orgWrap{ float: none; width: 80%; margin-top: 2rem; }
    .orgDep > ul > li{ width:80%; margin-right: 0; margin-bottom: 1rem; }
    .orgDepList .desc{ font-size: 14px; }
    .orgTop:after{ display: none; }
    .orgDep > ul > li.list01 .orgDepList:after{ top: -4rem; height: 4rem; }
    .orgDep > ul > li.list02 .orgDepList:after{ top: -1rem; height: 1rem; }
    .orgDep > ul > li.list03 .orgDepList:after{ top: -1rem; height: 1rem; }
}
@media (max-width: 440px) {
    .orgWrap{ width: 100%; }
}


/* 사업소개 */
/* 학생·기업매칭 프로세스 */
.sub01 .box03 .boxWrap{ padding: 0 2rem; }

@media (max-width: 768px) {
    .sub01 .box03 .boxWrap{ padding: 0; }
}

/* 사업소개 */
/* 참여 학과 */
.sub01 .box04 ul{ text-align: center; }
.sub01 .box04 ul li{ display: inline-block; width: calc((100% - 4.6rem) / 3); margin-right: 2.2rem;font-weight: 800; line-height: 3.58rem; border: 1px solid #ccc; }
.sub01 .box04 ul li:last-child{ margin-right: 0; }

@media (max-width: 1100px) {
    .sub01 .box04 ul li{ width: calc((100% - 2rem) / 3); margin-right: 0.9rem; }
}
@media (max-width: 768px) {
    .sub01 .box04 ul { width: 80%; margin: 0 auto; }
    .sub01 .box04 ul li{ width: 80%; margin-right: 0; margin-bottom: 1rem; }
}
@media (max-width: 440px) {
    .sub01 .box04 ul { width: 100%; }
}